<%= link_to "<- Back", friends_path, class: "btn btn-secondary mb-2" %>
<h1>Editing friend</h1>

<br />

<%= render "form", friend: @friend %>

<br />

 <div>
  <%= link_to "Show this friend", @friend, class: "btn btn-outline-success mb-2" %>
  <%= button_to "Delete this friend", @friend, method: :delete, form: { data: {turbo_confirm: "Are you sure you want to delete this?"} }, class: "btn btn-outline-danger" %>
</div>