<%= link_to "<- Back", friends_path, class: "btn btn-secondary mb-2" %>

<div class="jumbotron" >
  <%= render "friends/friend", :friend => @friend %>
  <hr class="my-4">
  <div class="d-inline">
    <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-outline-primary mb-2" %>
    <%= button_to "Delete", @friend, form: {data: { turbo_confirm: "Are you want to delete this record?" }}, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
